<?xml version="1.0" encoding="UTF-8"?>
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <!-- Define the root logger -->
    <root>
        <level value="debug"/>
        <appender-ref ref="ConsoleAppender"/>
        <appender-ref ref="FileAppender"/>
    </root>

    <!-- Define the Console appender -->
    <appender name="ConsoleAppender" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-5p [%t] %c{1} - %m%n"/>
        </layout>
    </appender>

    <!-- Define the File appender -->
    <appender name="FileAppender" class="org.apache.log4j.FileAppender">
        <param name="File" value="logs/salesForce.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-5p [%t] %c{1} - %m%n"/>
        </layout>
    </appender>

</log4j:configuration>

